/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
}

header {
  background-color: #725d5d;
  color: white;
  padding: 15px 0;
  text-align: center;
}

nav {
  text-align: center;
  background: #444;
}

nav a {
  color: rgb(65, 20, 214);
  text-decoration: none;
  padding: 14px 20px;
  display: inline-block;
}

nav a:hover {
  background-color: #666;
}

main {
  padding: 20px;
}

footer {
  background-color: #4e0202;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main.about {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.about-intro, .about-team {
  margin-bottom: 30px;
}

.about-image img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}
